// Simple general reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'American Typewriter';
}

// Button reset

.button {
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  position: relative;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d3d3d3;
}

.gallery {
  width: 50%;
  margin: 45px;
  position: relative;

  &__images {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);

    &--active {
      display: flex;
    }
  }

  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 45px;
  }

  &__control-mark {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #41b6fb;
    display: none;
    font-size: 20px;
  }

  &__control {
    background-color: red;
    height: 90px;
    width: 33.3%;
    margin: 45px 15px 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &--active {
      transform: scale(1.1);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      .gallery__control-mark {
        display: block;
      }
    }
  }

  &__inline-controls {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inline-control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px;

    &--active {
      background-color: #fff;
    }
  }
}

.content {
  width: 50%;
  border-left: 1px solid #d3d3d3;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
}

.infobar {
  padding: 0 45px;
  margin-bottom: 15px;

  &__row {
    margin-bottom: 15px;
    display: flex;
  }

  &__title {
    width: 50%;
    font-size: 18px;
    line-height: 24px;
  }

  &__value {
    width: 50%;
    font-size: 18px;
    line-height: 24px;

    &--labelled {

    }
  }
}

.helpbar {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #41b6fb;
  
  display: flex;
  align-items: center;
  
  &__title {
    flex-grow: 1;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  &__button {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    width: 70px;
    text-align: center;
    height: 100%;

    &:hover {
      background-color: #3cabf0;
    }
  }
}

.header {
  background-color: #1a1a1a;
  padding: 10px 60px 10px 45px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  &__controls {
    display: flex;
    align-items: flex-end;
    height: 30px;
  }

  &__cart {
    margin-right: 45px;
    height: 28px;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: #212121;
    width: 30%;
    z-index: 3;
  }

  &__nav-item {
    height: calc((100vh - 70px) / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #303030;

    &:last-child {
      border-bottom: none;
    }
  }

  &__nav-link {
    font-size: 24px;
    line-height: 28px;
    border-bottom: 2px solid transparent;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-end;
  }

  &__menu-button {
    color: #fff;
    font-size: 28px;
    margin-bottom: -5px;
    width: 28px;
    text-align: center;
  }

  &__cart-button {
    color: #d3d3d3;
    font-size: 20px;
    position: relative;
  }
}

.cart__amount {
  width: 14px;
  height: 14px;
  background-color: #41b6fb;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 2px;
  right: -5px;
  z-index: 2;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.navbar {
  margin: 0 45px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  height: 70px;
  border: 1px solid #d3d3d3;
  border-top: none;

  &__list-item {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    border-bottom: 3px solid #41b6fb;
    flex-shrink: 0;
    width: 12.5%;
    height: 100%;

    &--active {
      background-color: #41b6fb;
      color: #fff;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.labelled {
  padding: 4px 8px;
  background-color: 	#F0F0F0;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.helpbar-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45px;
  background-color: #f8f8f8;
  z-index: 2;

  &__button {
    color: #d3d3d3;
    font-size: 20px;
    margin-bottom: 30px;

    &-text {
      margin-left: 30px;
    }
  }

  &__text {
    color: #000;
  }
}